include AUTHORS.txt
include CHANGELOG.rst
include README.rst
include LICENSE.txt
recursive-include threadedcomments/fixtures *.json
recursive-include threadedcomments/templates *.html
recursive-include threadedcomments/sql *.sql
