{% extends "core/base.html" %}
{% load threadedcomments_tags %}

{% block head_title %}{{ message.title }}{% endblock %}

{% block javascript %}
    <script type="text/javascript">

        function show_reply_form(event) {
            var $this = $(this);
            var comment_id = $this.data('comment-id');

            $('#id_parent').val(comment_id);
            $('#form-comment').insertAfter($this.closest('.comment'));
        };

        function cancel_reply_form(event) {
            $('#id_comment').val('');
            $('#id_parent').val('');
            $('#form-comment').appendTo($('#wrap_write_comment'));
        }

        $.fn.ready(function() {
            $('.comment_reply_link').click(show_reply_form);
            $('#cancel_reply').click(cancel_reply_form);
        })

    </script>
{% endblock %}

{% block content %}
    <h2><a href="/">Back</a></h2>

    <div class="message">
        <p class="title">{{ message.title }}</p>
        <p class="text">{{ message.text }}</p>
    </div>

    <div class="comments_wrapper" id="comments">
        {% render_comment_list for message %}

        <div id="wrap_write_comment">
            {% render_comment_form for message %}
        </div>
    </div>
{% endblock %}
